@font-face { 
    font-family: 'AHL'; 
    src: url('AtkinsonHyperlegible-Regular.ttf'); 
} 

.mono {
    font-family: monospace;
    color: white;
    background-color: black;
    padding: 16px;
}

img {
    float: right; 
    height: 350px; 
    width: auto;
    padding: 10px;
    background-color: white;
}

body {
    font-family: 'AHL'
}